* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #159957, #155799);
}

body p {
  font-size: 20px;
}

body button {
  color: aliceblue;
  border: 1px solid #dbd7d7;
  border-radius: 50px;
  background: transparent;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.container {
  text-align: center;
  color: aliceblue;
  margin: 5rem;
}
